<div class="row">
    <div class="col-md-8">
        <h2>Daftar Contact</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% let i=0 %> <% contacts.forEach(contact=> { %>
                <tr>
                    <th scope="row"><%= ++i %></th>
                    <td><%= contact.name %></td>
                    <td><%= contact.phone %></td>
                    <td><%= contact.email %></td>
                    <td>
                        <a
                            class="btn btn-primary badge"
                            href="/contact/<%= contact.name %> "
                        >
                            <i class="bi bi-info-circle me-1"></i> Detail
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
